@using ThinkGeo.MapSuite;
@using ThinkGeo.MapSuite.Layers;
@using ThinkGeo.MapSuite.Mvc;
@using ThinkGeo.MapSuite.Styles;
@using ThinkGeo.MapSuite.Drawing;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id=map>
    @{Html.ThinkGeo().Map("Map1", 600, 500)
                                        .MapBackground(new GeoSolidBrush(GeoColor.FromHtml("#E5E3DF")))
                                        .CurrentExtent(-131.22, 55.05, -54.03, 16.91)
                                        .MapUnit(GeographyUnit.DecimalDegree)
                                        .CustomOverlays(overlays =>
                                        {
                                            overlays.WorldMapKitWmsWebOverlay();

                                        })
                                        .Render();
    }
</div>